.home.page-home-data {
  &::before,
  &::after {
    display: none;
  }

  header {
    height: 55.56vw;
    @include mq(lg) {
      height: auto;
      min-height: auto;
    }

    .title {
      margin-top: 10.5vw;

      h1 {
        font-size: 6.39vw;
        line-height: 6.39vw;
        @include mq(lg) {
          font-size: 5.2rem;
          line-height: 52px;
        }
        
        &:not(:last-child) {
          margin-bottom: 1.6rem;
          @include mq(lg) {
            margin-bottom: 0.5rem;
          }
        }

        &:last-child {
          @include mq(lg) {
            text-align: right;
          }
        }
      }
    }
  }

  .cta-block {
    height: 36.11vw;
    @include mq(xl) {
      height: auto;
    }
  }

  .quote-block {
    @include mq(lg) {
      padding-top: 0;
    }
  }
}
