@import "font", "reset";

body {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    width: 41.67vw;
    height: 50%;
    background-image: url(../images/body-vector.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    @include mq(lg) {
      display: none;
    }
  }

  &::after {
    content: "";
    width:  41.67vw;
    height: 50%;
    background-image: url(../images/body-vector-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    @include mq(lg) {
      display: none;
    }
  }
}

.bg-black {
  @include bg-color(secondary-dark);
  @include text-color(base-light);
}

.bg-white {
  @include bg-color(base-light);
  @include text-color(base-dark);
}

.title-border-top {
  padding-top: 2.1rem;
  border-top: 2px solid;
}

.slick-dots {
  display: flex;
  position: relative;
  margin-top: 4rem;

  li {
    margin-right: 1rem;
    width: 1.6rem;
    height: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 50%;
    cursor: pointer;
    @include border-color(primary-orange);
  }

  .slick-active { 
    .dot {
      @include bg-color(primary-orange);
    }
  }

  .dot {
    position: absolute; 
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
}