h1,
.h1 {
  @include font-size(h1);
  @include font-weight(regular);
  line-height: 76.8px;
  @include mq(lg) {
    font-size: 3.6rem;
    line-height: 43.2px;
  }
}

h2,
.h2 {
  @include font-size(h2);
  @include font-weight(regular);
  line-height: 57.6px;
  @include mq(lg) {
    font-size: 2.8rem;
    line-height: 33.6px;
  }
}

h3,
.h3 {
  @include font-size(h3);
  @include font-weight(regular);
  line-height: 38.4px;
  @include mq(lg) {
    font-size: 2.3rem;
    line-height: 27.6px;
  }
}

h4,
.h4 {
  @include font-size(h4);
  @include font-weight(bold);
  line-height: 22px;
  @include mq(lg) {
    font-size: 1.6rem;
    line-height: 16px;
  }
}

h5,
.h5 {
  @include font-size(h5);
  @include font-weight(bold);
  line-height: 18px;
  @include mq(lg) {
    font-size: 1.4rem;
    line-height: 14px;
  }
}

p,
.p {
  @include font-size(p);
  @include font-weight(regular);
  line-height: 33px;
  @include mq(lg) {
    font-size: 1.6rem;
    line-height: 24px;
  }
}

.ex,
.ex p {
  @include font-size(ex);
  @include font-weight(regular);
  line-height: 21.6px;
  @include mq(lg) {
    font-size: 1.4rem;
    line-height: 16.8px;
  }
}

.super {
  @include font-size(super);
  @include font-weight(regular);
  line-height: 92px;
  @include mq(lg) {
    font-size: 5.2rem;
    line-height: 52px;
  }
}

li {
  @include mq(lg) {
    font-size: 1.6rem;
    line-height: 24px;
  }
}
