.advanced-vertical-block {
  padding: 7rem 0 12rem;
  @include bg-color(secondary-dark);
  @include mq(lg) {
    padding: 4.5rem 0;
  }

  .block-wrap {
    display: grid;
    grid-template-columns: 28.26vw 51.74vw;
    grid-column-gap: 4.5rem;
    @include mq(lg) {
      grid-template-columns: unset;
    }

    .title {
      @include border-color(base-light);
    }

    .content-wrap {
      @include mq(lg) {
        margin-top: 3rem;
      }

      .content {
        h3,
        p:not(:last-child) {
          margin-bottom: 3.3rem;
        }

        strong {
          @include text-color(primary-orange);
        }
      }

      .statistics-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 4.5rem;
        position: relative;
        margin-top: 3.8rem;
        z-index: 2;

        @include mq(md) {
          grid-template-columns: unset;
          row-gap: 4.5rem;
        }

        .statistics-item {
          display: flex;
          flex-direction: column;
          padding: 2.2rem 0;
          border-top: 2px solid;
          border-bottom: 2px solid;

          .big-number {
            font-size: 6.4rem;
            line-height: 72px;
            @include font-weight(light);
          }

          .description {
            & input {
              position: absolute;
              opacity: 0;
              z-index: -1;
            }

            .description__title {
              cursor: pointer;
            }

            .more-icon-wrap {
              display: inherit;
              margin-left: 0.6rem;
            }

            .more-icon {
              display: flex;
              position: relative;
              justify-content: center;
              align-items: center;
              width: 1.8rem;
              height: 1.8rem;
              border-radius: 50%;

              @include bg-color(primary-orange);

              & .dot {
                width: 0.3rem;
                height: 0.3rem;
                margin: 0 0.1rem;
                border-radius: 0.3rem;
                transition: transform 0.35s;
                @include bg-color(base-light);
              }
            }

            & input:checked ~ .description__title {
                .dot{
                  position: absolute;
                  width: 1.2rem;

                &:first-child {
                  transform: rotate(45deg);
                }

                &:nth-child(2) {
                  position: relative;
                  opacity: 0;
                }

                &:last-child {
                  transform: rotate(-45deg);
                }
              }
            }

            .discription__footnote {
              max-height: 0;
              overflow: hidden;
              opacity: 0.5;
              transition: max-height 0.35s;
            }

            & input:checked ~ .discription__footnote {
              max-height: 100vh;
            }
          }
        }
      }

      .primary-button {
        margin-top: 3.8rem;
      }
    }
  }
}
