.content-grid-block {
  padding: 7.9rem 0 7.4rem;
  @include mq(lg) {
    padding: 2.7rem 0 2.5rem;
  }

  .intro {
    display: grid;
    grid-template-columns: 28.26vw 51.74vw;
    grid-column-gap: 4.5rem;
    @include mq(lg) {
      grid-template-columns: unset;
    }

    &-title {
      @include border-color(primary-orange);
    }

    &-description {
      @include mq(lg) {
        margin-top: 2.2rem;
      }

      .disclaimer {
        margin-top: 2.8rem;
        overflow: hidden;

        & input {
          position: absolute;
          opacity: 0;
          z-index: -1;
        }

        & .disclaimer__title {
          display: flex;
          align-items: center;

          .label {
            display: flex;
            font-size: 1.6rem;
            opacity: 0.75;
            cursor: pointer;

            @include font-weight(bold);
          }

          .more-icon {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            width: 2rem;
            height: 2rem;
            margin-left: 1.6rem;
            border-radius: 50%;

            @include bg-color(primary-orange);

            & .dot {
              width: 0.3rem;
              height: 0.3rem;
              margin: 0 0.1rem;
              border-radius: 0.3rem;
              transition: transform 0.35s;
              @include bg-color(base-light);
            }
          }
        }
        & input:checked ~ .disclaimer__title {
          .more-icon .dot{
            position: absolute;
            width: 1.2rem;

            &:first-child {
              transform: rotate(45deg);
            }

            &:nth-child(2) {
              width: 0;
              height: 0;
            }

            &:last-child {
              transform: rotate(-45deg);
            }
          }
        }

        & .disclaimer__description {
          max-height: 0;
          transition: all 0.35s;

          & p {
            font-size: 1.4rem;
            line-height: 1.5;
          }
        }

        & input:checked ~ .disclaimer__description {
          max-height: 100vh;
        }
      }

      .primary-button {
        margin-top: 3.3rem;
        @include mq(lg) {
          margin-top: 2.2rem;
        }
      }
    }
  }

  .step {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4.5rem;
    row-gap: 4.5rem;
    margin-top: 7.2rem;
    @include mq(lg) {
      grid-template-columns: unset;
      margin-top: 3.5rem;
      row-gap: 2.5rem;
    }

    &-item {
      .icon-wrap {
        .icon {
          width: 4.5rem;
          margin-right: 1.6rem;
        }
      }

      .description {
        margin-top: 1.8rem;
        padding-top: 2.4rem;
        border-top: 2px solid;
        @include border-color(secondary-dark);
        @include mq(lg) {
          margin-top: 1.4rem;
          padding-top: 1.6rem;
        }

        .ordinal-number {
          padding: 1.5rem;
          font-size: 1.4rem;
          line-height: 14px;
          width: 3.2rem;
          height: 3.2rem;
          border-radius: 50%;
          margin-right: 2.8rem;
          @include bg-color(primary-orange);
          @include font-weight(bold);
        }

        .content {
          p {
            font-size: 1.8rem;
            line-height: 21.6px;
          }
        }
      }
    }
  }
}
