.cta-block {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-items: center;

  .container {
    padding-top: 8.5rem;
    padding-bottom: 8.5rem;

    .label {
      font-size: 1.6rem;
      line-height: 22px;
      margin-bottom: 2.2rem;
      @include font-weight(bold);
    }

    .description {
      width: 95%;
      margin-bottom: 3.2rem;
      @include mq(lg) {
        width: 100%;
      }
    }
  }
}
