.primary-nav {
  position: relative;
  z-index: 20;

  .nav-wrap {
    padding: 3.75vw 0 4.24vw;
    @include mq(lg) {
      padding: 2.5rem 0;
    }

    .logo {
      width: 20.1vw;
    }

    .mobile-logo {
      width: 7.854rem;
    }

    .menu-icon {
      cursor: pointer;

      .label {
        text-transform: uppercase;
        font-size: 2rem;
        line-height: 20px;
        margin-right: 1.6rem;
      }

      .icon {
        width: 3rem;
      }
    }
  }
}
