.summary-block {
  padding: 6.5rem 0 8rem;
  position: relative;
  z-index: 3;
  @include mq(lg) {
    padding: 4.5rem 0;
  }

  .block-wrap {
    display: grid;
    grid-template-columns: 28.26vw 51.74vw;
    grid-column-gap: 4.5rem;
    @include mq(lg) {
      grid-template-columns: unset;
    }

    .title {
      @include border-color(primary-orange);
    }

    .content {
      @include mq(lg) {
        margin-top: 3rem;
      }
      
      h3,
      h6 {
        margin-bottom: 3.3rem;
        @include text-color(primary-orange);
      }

      h6 {
        font-size: 1.8rem;
        line-height: 18px;
      }

      p {
        &:not(:last-child) {
          margin-bottom: 3.3rem;
        }
      }

      ul {
        list-style: disc;
        padding-left: 3rem;
        margin-bottom: 3.3rem;
      }

      figure {
        width: 100% !important;
        margin-bottom: 3.3rem;

        img {
          width: 100%;
        }

        figcaption {
          padding: 2.1rem 0;
          height: fit-content;
          border-top: 2px solid rgba(#303B40, 0.3);
          border-bottom: 2px solid rgba(#303B40, 0.3);

          h5 {
            margin-bottom: 2.1rem;
          }

          p {
            margin-bottom: 0 !important;
            line-height: 21.6px;
            @include font-size(ex);
          }
        }
      }

      figure.aligncenter {
        img {
          margin-bottom: 3.3rem;
          height: 15vw;
          @include mq(lg) {
            height: 100%;
          }
        }

        figcaption {
          h5 {
            margin-bottom: 0;
          }
        }
      }

      figure.alignright,
      figure.alignleft {
        display: grid;
        grid-template-columns: 1fr 20.42vw;
        grid-column-gap: 4.5rem;
        grid-gap: 3.3rem;
        @include mq(lg) {
          grid-template-columns: unset;
        }

        img {
          height: 21vw;
          @include mq(lg) {
            height: auto;
          }
        }
      }

      figure.alignright {
        direction: rtl;
      }
    }
  }

  .bg-attach-left {
    width: 31.25vw;
    position: absolute;
    top: 15%;
    @include mq(lg) {
      display: none;
    }
  }
}
