footer {
  @include bg-color(secondary-dark);

  .footer-wrap {
    padding: 5rem 0 5.873rem;
    @include mq(lg) {
      padding: 4rem 0;
    }

    .logo {
      width: 20.1vw;
    }

    .mobile-logo {
      width: 7.711rem;
    }

    .footer-cta {
      display: flex;
      @include mq(lg) {
        flex-direction: column;
        align-items: flex-start;
      }

      .cta-item {
        font-size: 1.6rem;
        line-height: 22px;
        @include text-color(base-light);
        @include mq(lg) {
          font-size: 1.4rem;
        }

        &:not(:first-child) {
          margin-left: 4.5rem;
          @include mq(lg) {
            margin-left: 0;
          }
        }

        &:hover {
          @include text-color(primary-orange);
        }
      }
    }
  }
}
