header {
  background-size: cover;
  background-repeat: no-repeat;

  &.bg-attach-top-right {
    background-position: center;
    position: relative;
  }

  .title {
    margin-top: 7.014vw;
    padding-bottom: 6.5rem;
    @include mq(lg) {
      padding-bottom: 5rem;
    }

    .page-title {
      margin-bottom: 1.2rem;
    }
  }
}
